body {
    
    background-image: url("./images/img_tree.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    }
/* h1, h2 { color: red;
    text-align: center;
    }
p { color: rgb(20, 19, 19);
    text-align: center;
    } */